/* By Jycko */
.footerstyle {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.footerstyle h4 {
    min-height: 20px;
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
    border-bottom: 2px solid black;
    
}
.footerstyle p {
    align-self: center;
    color: rgb(50, 49, 49);
}
.footerstyle a:hover {
    font-weight: bold;
    color: white;
}
.footerstyle a {
    text-decoration: none;
    display: block;
}
.footerstyle div {
    min-height: 130px;
    padding-right: 20px;
    align-self: center;
    max-width: 180px;

}
.copyright {
    padding-top: 20px;
    

}
footer {
    border-top: 5px solid lightskyblue;
    padding-right: 20px;
    color: black;
    background-color: lightcyan;
    text-align: center;
}