/* Made By Jycko */
.footerstyle {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.footerstyle h4 {
    font-size: 20px;
    font-weight: none;
    min-height: 20px;
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
    /* border-bottom: 2px solid beige; */
    
}
.footerstyle p {
    align-self: center;
    color: rgb(189, 186, 186);
}
.footerstyle a:hover {
    font-weight: bold;
    color: yellow;
}
.footerstyle a {
    color: rgb(225, 221, 221);
    text-decoration: none;
    display: block;
}
.footerstyle div {
    min-height: 130px;
    padding-right: 20px;
    align-self: center;
    max-width: 180px;

}
.copyright {
    padding-top: 30px;
    

}
body {
    height: 100%;
    margin: 0;
}
footer {
    margin-top: auto;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
   /* border-top: 5px solid lightskyblue; */
    color: white;
    /* background-color: lightcyan; */
    text-align: center;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.35); 

}