div h1 {
    text-align: center;
    font-size: 24px;
    color: rgb(40, 39, 39); /*elegant dark gray*/
    
}
div h1 a {
    color: #4CAF50; /* elgant green*/
    text-decoration: none;


}
div h1 a:hover {
    color: #337735; /* elgant  dark green*/
    text-decoration: underline;


}
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: rgb(80, 95, 183);
}

form p {
    font-size: 0.9em;
    color: #666;
}
form input[type="text"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5552b0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

