header {
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.35); 
    margin-bottom: 10px;
}
.headerstyle {
    display: flex;

}
.headerstyle img {
    max-height: 50px;
}
body {
    margin: 0;
}


.topnav{
    background-color: white;
    overflow: hidden;
    height: 45px;
    
}

.topnav a{
    float: left;
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: solid;
}

.topnav a:hover {
    
    background-color: grey;
    color: white;
}

.topnav a.active {
    background-color: rgb(39, 75, 192);
    color: white;
}

/* Made by jycko and batrisyia*/
