
body{
    margin: 0;
    background-image: url("../images/loginwallpaper.jpg");
    font-family: Arial, sans-serif;

    
}

input[type = text], input[type = email], input[type = password] {
    /*font-size: 40px;*/
    height: 30px;
    width: 250px;
}

input[type = submit]{
    color: white;
    font-weight: bold;
    background-color: rgb(39, 75, 192);
    text-decoration: none;
    width: 25%;
    margin-bottom: 5vh;
    border:none;
    cursor: pointer;
    padding: 16px ;
}
.formRegister a {
    padding: 2px;
    background-color: rgb(151, 22, 22);
    color: white;
    text-align: center;
    font-size: 30px;

}
form 
{
    text-align: center;
    margin-left: 40px;
}
form button {
    color: rgb(65, 66, 75);
    
}
label
{
    color: rgb(65, 66, 75);
    font-weight: bold;
    
}

.register {
    margin-left: 20px;

    color: rgb(39, 75, 192);

}

.formRegister {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 100px;
    margin-right: 100px;
    border: solid 2px lightgrey;
    border-radius: 5px;
}

